---
import Layout from "@layouts/Layout.astro";
---
<Layout title="MK2 Mitsubishi Pajero">
	<main class="w-1/2 m-auto">
		<p>The MK2 Mitsubishi Pajero was sold from 1992 through 1998.</p>

		<p>Please see our reference information below.</p>

		<ul class="mt-2 list-disc">
			<li class="ml-8"><a class="text-blue-600" href="/cars/mk2-mitsubishi-pajero/maintenance/4m40">Maintenance (4M40 2.8L Diesel Engine)</a></li>
		</ul>
	</main>
</Layout>