---
import Layout from "@layouts/Layout.astro";

---
<Layout
	title="MK2 Mitsubishi Pajero"
	metaTags={{
		description: "Maintenance information, part numbers, repair guides, and more for the 1992-1998 MK2 Mitsubishi Pajero/Montero"
	}}
>
	<main class="p-4 lg:p-0 lg:w-1/2 m-auto">
		<p>The MK2 Mitsubishi Pajero was sold from 1992 through 1998.</p>

		<section>
			<h2>General Pajero Information</h2>

			<section>
				<h3>Reference Guides and Manuals</h3>

				<ul class="link-list">
					<li><a target="_blank" href="/assets/cars/mk2-mitsubishi-pajero/mitsubishi-pajero-fsm-1993-1996-engine-chassis-body.pdf">1993 - 1996 Factory Service Manual: Body and Chassis</a></li>
					<li><a target="_blank" href="/assets/cars/mk2-mitsubishi-pajero/mitsubishi-pajero-fsm-1993-1996-electrical.pdf">1993 - 1996 Factory Service Manual: Electrical</a></li>
				</ul>
			</section>
		</section>

		<section class="my-2">
			<h2>4M40 2.8L Turbo Diesel Engine</h2>

			<section>
				<h3>Reference Guides and Manuals</h3>

				<ul class="link-list">
					<li><a target="_blank" href="/assets/cars/mk2-mitsubishi-pajero/91-99 Pajero 4m4 general Glow Plug System 16-44_230928_122753.pdf">1991 - 1999 4M40 Glow Plug Wiring Diagram</a></li>
					<li><a target="_blank" href="/assets/cars/mk2-mitsubishi-pajero/4M40 Diesel Engine Workshop Manual PWEE9409 11A.pdf">4M40 Engine Specification Manual</a></li>
				</ul>
			</section>

			<section>
				<h3>Maintenance and Part Numbers</h3>

				<ul class="link-list">
					<li><a target="_blank" href="/cars/mk2-mitsubishi-pajero/maintenance/4m40">Part Numbers</a></li>
				</ul>
			</section>
		</section>
	</main>
</Layout>

<style>
	section {
		@apply my-2;
	}

	section h2 {
		@apply text-2xl font-bold;
	}

	main > section {
		@apply my-8;
	}

	section > section {
		@apply my-2;
	}

	section h3 {
		@apply text-lg font-normal;
	}

	ul.link-list {
		@apply mt-2 list-disc;
	}

	ul.link-list li {
		@apply ml-8;
	}

	ul.link-list li a {
		@apply text-blue-600;
	}
</style>