---
import Layout from "@layouts/Layout.astro";

---
<Layout
	title="MK2 Mitsubishi Pajero"
	metaTags={{
		description: "Maintenance information, part numbers, repair guides, and more for the 1992-1998 MK2 Mitsubishi Pajero/Montero"
	}}
>
	<main class="p-4 lg:p-0 lg:w-1/2 m-auto">
		<p>The MK2 Mitsubishi Pajero was sold from 1992 through 1998.</p>

		<section class="my-8">
			<h2 class="text-2xl font-bold">General Pajero Information</h2>

			<section class="my-2">
				<h3 class="text-lg font-normal">Reference Guides and Manuals</h3>

				<ul class="mt-2 list-disc">
					<li class="ml-8">
						<a class="text-blue-600"
							 target="_blank"
							 href="/assets/cars/mk2-mitsubishi-pajero/mitsubishi-pajero-fsm-1993-1996-engine-chassis-body.pdf">
							1993 - 1996 Factory Service Manual: Body and Chassis
						</a>
					</li>
					<li class="ml-8">
						<a class="text-blue-600"
							 target="_blank"
							 href="/assets/cars/mk2-mitsubishi-pajero/mitsubishi-pajero-fsm-1993-1996-electrical.pdf">
							1993 - 1996 Factory Service Manual: Electrical
						</a>
					</li>
					<li class="ml-8">
						<a class="text-blue-600"
							 target="_blank"
							 href="/assets/cars/mk2-mitsubishi-pajero/PHJE9026_A_B_C_PAJERO_91-94_ELECTRICAL_WIRING.pdf">
							1991 - 1994 Workshop Manual: Electrical
						</a>
					</li>
					<li class="ml-8">
						<a class="text-blue-600"
							 target="_blank"
							 href="/assets/cars/mk2-mitsubishi-pajero/PHJE9026-E_PAJERO_96_ELECTRICAL_WIRING.pdf">
							1996 Workshop Manual: Electrical
						</a>
					</li>
					<li class="ml-8">
						<a class="text-blue-600"
							 target="_blank"
							 href="/assets/cars/mk2-mitsubishi-pajero/1993 wheel alignment specifications and procedures.pdf">
							1993 Mitsubishi Montero/Pajero Alignment Specs
						</a>
					</li>
				</ul>
			</section>
		</section>

		<section class="my-8">
			<h2 class="text-2xl font-bold">4M40 2.8L Turbo Diesel Engine</h2>

			<section class="my-2">
				<h3 class="text-lg font-normal">Reference Guides and Manuals</h3>

				<ul class="mt-2 list-disc">
					<li class="ml-8">
						<a class="text-blue-600"
							 target="_blank"
							 href="/assets/cars/mk2-mitsubishi-pajero/91-99 Pajero 4m4 general Glow Plug System 16-44_230928_122753.pdf">
							1991 - 1999 4M40 Glow Plug Wiring Diagram
						</a>
					</li>
					<li class="ml-8">
						<a class="text-blue-600"
							 target="_blank"
							 href="/assets/cars/mk2-mitsubishi-pajero/4M40 Diesel Engine Workshop Manual PWEE9409 11A.pdf">
							4M40 Engine Specification Manual
						</a>
					</li>
				</ul>
			</section>

			<section class="my-2">
				<h3 class="text-lg font-normal">Maintenance and Part Numbers</h3>

				<ul class="mt-2 list-disc">
					<li class="ml-8">
						<a class="text-blue-600"
							 href="/cars/mk2-mitsubishi-pajero/maintenance/4m40">
							Part Numbers
						</a>
					</li>
				</ul>
			</section>
		</section>
	</main>
</Layout>
