@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to JDM Depot</h1>

	<p>
		JDM Depot is an online knowledge base for cars originally produced in the Japanese Domestic Market (JDM).
		Most of the information here will pertain to vehicle owners who are or have imported their vehicle from the Japanese Domestic Market into the United States of America.
	</p>
</div>
