@{
	ViewData["Title"] = @Resources.MK2_Mitsubishi_Pajero;
}

<p>
	The MK2 Mitsubishi Pajero was sold from 1992 through 1998.
</p>

<p>Please see our reference information below.</p>

<ul>
	<li>
		<a asp-area="" asp-controller="Cars" asp-action="Mk2MitsubishiPajeroMaintenance4M40">
			@Resources._4M40_Maintenance
		</a>
	</li>
</ul>
