---
import NavLink from "./NavLink.astro";
---
<nav class="inline-block">
	<ul class="flex flex-wrap items-center justify-center">
		<li><NavLink relativeUrl="/" exact>Home</NavLink></li>
		<li><NavLink relativeUrl="/cars/mk2-mitsubishi-pajero">MK2 Mitsubishi Pajero</NavLink></li>
		<li><NavLink relativeUrl="/contact">Contact</NavLink></li>
	</ul>
</nav>