---
import type { PartLink } from "../maintenance";
import { exhaustivePatternMatch } from "../util/patternMatchUtil";

export interface Props {
	item: PartLink;
};

const { item } = Astro.props;

const { link, text } = (() => {
	switch (item.kind) {
		case "advance-auto":
			return {
				link: `https://shop.advanceautoparts.com/web/SearchResults?searchTerm=${encodeURIComponent(item["part-number"])}`,
				text: "Advance Auto"
			};
		case "amazon":
			return {
				link: item.url,
				text: "Amazon"
			};
		case "rockauto":
			return {
				link: `https://www.rockauto.com/en/moreinfo.php?pk=${encodeURIComponent(item["part-number"])}`,
				text: "RockAuto"
			};
		case "napa":
			return {
				link: item.url,
				text: "NAPA"
			};
		case "fcp-euro":
			return {
				link: item.url,
				text: "FCP Euro"
			};
		default:
			exhaustivePatternMatch(item);
	}
})();
---
<a
	class="text-blue-600 whitespace-nowrap"
	href={link}
	target="_blank"
>
	{text} <i class="fa-solid fa-arrow-up-right-from-square"></i>
</a>