---
import { PartLink } from "../maintenance";
import { exhaustivePatternMatch } from "../util/patternMatchUtil";

type ExpandRecursively<T> = T extends object
	? T extends infer O ? { [K in keyof O]: ExpandRecursively<O[K]> } : never
	: T;

export interface Props {
	item: PartLink;
};

const { item } = Astro.props;

const [link, text] = (() => {
	switch (item.kind) {
		case "advance-auto":
			return [`https://shop.advanceautoparts.com/web/SearchResults?searchTerm=${item["part-number"]}`, "Advance Auto"];
		case "amazon":
			return [item.url, "Amazon"];
		case "rockauto":
			return [`https://www.rockauto.com/en/moreinfo.php?pk=${item["part-number"]}`, "RockAuto"];
		case "napa":
			return [item.url, "NAPA"];
		default:
			exhaustivePatternMatch(item.kind);
	}
})();
---
<a
	class="text-blue-600"
	href={link}
	target="_blank"
>
	{text}
</a>