---
import Navigation from "../components/Navigation/Navigation.astro";
import { Image } from "astro:assets";
import logoImage from "./img/logo.svg";
import logoImageNoText from "./img/logo-icononly.svg";
import "@/styles/global.css";

interface Props {
	title: string;
	metaTags?: {
		description?: string;
	};
}

const { title, metaTags } = Astro.props;
---

<style scoped lang="scss">
	@media screen and (max-width: 360px) {
		.logo {
			width: 140px;
		}
	}

	@media screen and (max-width: 720px) {
		.logo {
			width: 140px;
		}
	}

	@media screen and (min-width: 720px){
		.logo {
			width: 220px;
		}
	}
</style>

<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaTags?.description ?? ""} />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="icon" type="image/svg+xml" href="/assets/img/logo-icononly.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - JDM Depot</title>
	</head>
	<body class="bg-gray-100">
	<header class="bg-red-300 px-4 lg:px-8 drop-shadow-xl drop-shadow-yellow-50 mb-4">
		<div class="flex justify-center align-center p-2">
			<a href="/">
				<Image
					class="logo md:hidden"
					src={logoImageNoText}
					widths={[140, 180, 220]}
					decoding="sync"
					loading="eager"
					sizes="(max-width: 360px) 140px, (max-width: 720px) 180px, 220px"
					alt="" />

				<Image
					class="logo hidden md:block"
					src={logoImage}
					widths={[140, 180, 220]}
					decoding="sync"
					loading="eager"
					sizes="(max-width: 360px) 140px, (max-width: 720px) 180px, 220px"
					alt="" />
			</a>
		</div>

		<div class="flex justify-center pb-2">
			<Navigation />
		</div>
	</header>

	<div class="container m-auto">
		<slot />
	</div>

	<script is:inline src="https://kit.fontawesome.com/d85d4d6f28.js" crossorigin="anonymous"></script>
	</body>
</html>
