---
import Navigation from "../components/Navigation/Navigation.astro";
interface Props {
	title: string;
	metaTags?: {
		description?: string;
	};
}

const { title, metaTags } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaTags?.description ?? ""} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/img/logo-iconoly.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - JDM Depot</title>
	</head>
	<body>
	<header class="bg-red-400 px-4 lg:px-8 drop-shadow-xl mb-4">
		<div class="flex justify-center align-center p-2">
				<img class="max-w-[140px] h-auto" src="/assets/img/logo.svg" alt="JDM Depot Logo" />
		</div>

		<div class="flex justify-center pb-2">
			<Navigation />
		</div>
	</header>

	<div class="container m-auto">
		<slot />
	</div>
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
