---
import Navigation from "../components/Navigation/Navigation.astro";
import { Image } from "astro:assets";
import logoImage from "./img/logo.svg";

interface Props {
	title: string;
	metaTags?: {
		description?: string;
	};
}

const { title, metaTags } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaTags?.description ?? ""} />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="icon" type="image/svg+xml" href="/assets/img/logo-iconoly.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - JDM Depot</title>
	</head>
	<body>
	<header class="bg-red-400 px-4 lg:px-8 drop-shadow-xl mb-4">
		<div class="flex justify-center align-center p-2">
			<Image
			id="logo"
			src={logoImage}
			widths={[140, 180, 220]}
			sizes="(max-width: 360px) 140px, (max-width: 720px) 180px, 220px"
			alt="JDM Depot Logo" />
		</div>

		<div class="flex justify-center pb-2">
			<Navigation />
		</div>
	</header>

	<div class="container m-auto">
		<slot />
	</div>
	</body>
</html>

<style scoped lang="scss">
	@media screen and (max-width: 360px) {
		#logo {
			width: 140px;
		}
	}

	@media screen and (max-width: 720px) {
		#logo {
			width: 140px;
		}
	}

	@media screen and (min-width: 720px){
		#logo {
			width: 220px;
		}
	}
</style>

<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	body {
		@apply bg-gray-100;
	}
</style>
