---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<style is:global>
	@import "tailwindcss";
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		main p {
			@apply my-4;
		}

		main a {
			@apply text-blue-600;
		}

		main a:hover {
			@apply underline;
		}

		main ul {
			@apply list-disc;
		}

		main ul li {
			@apply mx-8;
		}
	}
</style>

<Layout title={frontmatter.title} metaTags={frontmatter?.metaTags}>
	<main class="p-4 lg:p-0 lg:w-1/2 m-auto">
		<slot />
	</main>
</Layout>